
.container {
  color: white;
}
.intro-section {
  color: white;
  padding: 20px;
  text-align: center;
}
/*.product-header {
  color: ;
}*/
.form-control {
  background-color:rgba(28, 28, 85, 1); ;
  border: 1px solid rgb(29, 33, 54);
  color: white;
}

/*
.form-control:focus {
  border-color: white;
  background-color: ;
}
.form-label {
  color: white;
}
.product-header {
  color: ;
}
.product-order {
  color: ;
}
*/
