<app-header></app-header>

<div class="container">
  <div class="intro-section">
    <button (click)="toggleChat()" class="btn btn-primary chatBtn">
      <i [class]="showChat? 'fas fa-times' : 'fas fa-comments'"></i>
    </button>
    <h1 style="color: bisque;">SHOP CÔNG NGHỆ</h1>
    <app-google-search></app-google-search>


    <!-- <app-chat></app-chat> -->
  </div>
  <div class="_2XWD5" style="max-height: 148px; overflow: hidden; display: flex;">
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="0">
        <a class="_1LzUF" href="https://zingnews.vn" target="_blank" rel="noreferrer">
          <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                    class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                      focusable="false"
                                                                                                      data-icon="ellipsis"
                                                                                                      width="1em"
                                                                                                      height="1em"
                                                                                                      fill="currentColor"
                                                                                                      aria-hidden="true"
                                                                                                      style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
            <div class="_3sxHF" role="presentation"><img
              src="https://cdn.home.vn/655360_141218524736019_73057393704960?wt=3318b580b0c425897cb738b5a4d3fe3c&amp;rt=22b7d956ab44095e89fe3772df99af60"
              alt="icon"><span class="sc-gqjmRU eaQqN">Znews</span></div>
          </div>
        </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="1"><a
        class="_1LzUF" href="https://cdn.adop.asia/7f9OQMlbQ0.html" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/524288_141218524736000_72864120176640?wt=a01cef4d158e55f389ed5c1d38ec5e0e&amp;rt=71bd402edcc7030612e6405a524114c0"
            alt="icon"><span class="sc-gqjmRU eaQqN">Shopee</span></div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="2"><a
        class="_1LzUF" href="https://c.lazada.vn/t/c.bddW" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/393216_141218524736002_72868415143936?wt=6a2bd4fa9959382fc7891c79108d896f&amp;rt=9901eec46b4a8999e7431b980e84ee44"
            alt="icon"><span class="sc-gqjmRU eaQqN">Lazada</span></div>
        </div>
      </a></div>
    </div>
    <div class=" _3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="8"><a
        class="_1LzUF" href="https://ti.ki/AWQ6UGRp/LVXAYKZS" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/655360_141218524757459_1408809402630144?wt=09975a76849fcf52aea1586a3306dbfd&amp;rt=76cc6960e68630a4e46c3425aa0c000b"
            alt="icon"><span class="sc-gqjmRU eaQqN" style="align-content: center;">Tiki</span>
          </div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="9">
        <a class="_1LzUF" href="https://www.youtube.com" target="_blank" rel="noreferrer">
          <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                    class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                      focusable="false"
                                                                                                      data-icon="ellipsis"
                                                                                                      width="1em"
                                                                                                      height="1em"
                                                                                                      fill="currentColor"
                                                                                                      aria-hidden="true"
                                                                                                      style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
            <div class="_3sxHF" role="presentation"><img
              src="https://cdn.home.vn/458752_141218524757460_1408753568055296?wt=144c2d8025713257c1077f6ec7501aa5&amp;rt=612446ee541c95e7f91d210150577b3d"
              alt="icon"><span class="sc-gqjmRU eaQqN">Youtube</span></div>
          </div>
        </a>
      </div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="10"><a
        class="_1LzUF" href="https://gmail.com" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/393216_141218524735987_72812580569088?wt=f91d4b2658e4b02ce7fc3ac066044ec2&amp;rt=24a96c310b569ae5af8a349bfdc5a365"
            alt="icon"><span class="sc-gqjmRU eaQqN">Gmail</span></div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="11"><a
        class="_1LzUF" href="https://vnexpress.net" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/327680_141218524735998_72855530242048?wt=116298ab45ed4161229c6a2636e2bb35&amp;rt=46b8f8e51ed1e8422e4e83cd10055b08"
            alt="icon"><span class="sc-gqjmRU eaQqN">Vnexpress</span></div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="13"><a
        class="_1LzUF" href="https://vietnamnet.vn/" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/655360_70849780885821_1746462551572480?wt=7919b72d3d2cc18b85b3c218434df7bd&amp;rt=2b3f7db7ff0948cb78160af7ad720b52"
            alt="icon"><span class="sc-gqjmRU eaQqN">Vietnamnet</span></div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="15"><a
        class="_1LzUF" href="https://chat.zalo.me" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/327680_141218524757461_1408796517728256?wt=048b74978ef6b32d96fc0d011029d180&amp;rt=ab68bbdbc07253406c3daff0b1d08dd2"
            alt="icon"><span class="sc-gqjmRU eaQqN">Zalo</span></div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="16"><a
        class="_1LzUF" href="https://www.google.com.vn" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/393216_141218524735981_72782515798016?wt=eef2724df2f4332608f56e52c0df551e&amp;rt=9a30ee0875712f4c0c19a526d5c6b659"
            alt="icon"><span class="sc-gqjmRU eaQqN">Google</span></div>
        </div>
      </a></div>
    </div>
    <div class="_3gFC6" role="presentation">
      <div role="presentation" class="_3gFC6 LqEeA _90eWb" draggable="false" drop-hover-index="17"><a
        class="_1LzUF" href="https://www.facebook.com" target="_blank" rel="noreferrer">
        <div class="_3J9vC"><span role="img" aria-label="ellipsis" tabindex="-1"
                                  class="anticon anticon-ellipsis _1g3T2 ant-dropdown-trigger"><svg viewBox=""
                                                                                                    focusable="false"
                                                                                                    data-icon="ellipsis"
                                                                                                    width="1em"
                                                                                                    height="1em"
                                                                                                    fill="currentColor"
                                                                                                    aria-hidden="true"
                                                                                                    style="transform: rotate(90deg);">
                                <path
                                  d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></span>
          <div class="_3sxHF" role="presentation"><img
            src="https://cdn.home.vn/524288_141218524735978_72756745994240?wt=d425e88fb1bb5f997cf0362ecfe13e25&amp;rt=f3653820f10091c765399b76fd5592b0"
            alt="icon"><span class="sc-gqjmRU eaQqN">Facebook</span></div>
        </div>
      </a></div>
    </div>
    <div class="_1091X">
      <div class="_3IFIm"><span role="img" aria-label="plus" tabindex="-1" class="anticon anticon-plus"
                                style="color: rgb(10, 116, 122);"><svg viewBox="" focusable="false" data-icon="plus"
                                                                       width="1em"
                                                                       height="1em" fill="currentColor"
                                                                       aria-hidden="true">
                        <defs>
                            <style></style>
                        </defs>
                        <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
                        <path d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"></path>
                    </svg></span></div>
    </div>
  </div>
  <div class="search-box">
   <!-- <img src="https://images.pexels.com/photos/8100060/pexels-photo-8100060.jpeg?auto=compress&cs=tinysrgb&w=600"
         loading="lazy" decoding="async" alt="" style="width: 241px; height: 192px;">-->
    <input type="text" class="form-control sreach-input" placeholder="Tìm sản phẩm"
      [(ngModel)]="keyword" >
    <select class="form-control product-category" [(ngModel)]="selectedCategoryId">
      <option [value]="0">Tất cả</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </option>
    </select>
    <button class="btn btn-primary ml-2" (click)="searchProducts()">Tìm kiếm</button>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let product of products">
      <div class="product-item" (click)="onProductClick(product.id)">
        <img [src]="product.thumbnail" alt="Product Image" class="product-image">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">Giá: {{ product.price }} đ</p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" href="#" (click)="onPageChange(1)">First</a>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{'active': page === currentPage}">
          <a class="page-link" href="#" (click)="onPageChange(page)">{{ page }}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next</a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" href="#" (click)="onPageChange(totalPages)">Last</a>
      </li>
    </ul>
  </nav>
<!--  <app-chat *ngIf="showChat"></app-chat>-->
  <app-chatbot *ngIf="showChat"></app-chatbot>
</div>

<app-footer></app-footer>
